body {
  background-color: #f8f7f4;
  margin: 0;
}
.navbar {
  display: flex;
  justify-content: space-around;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 10px;
  font-weight: 3;
  height: 100px;
}
nav {
  margin: 0;
}
.signup {
  background-color: black;
  border-radius: 30px;
  height: 50px;
  width: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}
.left:hover {
  cursor: pointer;
}
.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.search {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 300px;
  height: 50px;
  border-radius: 50px;
}
.search input {
  border: none;
}
.search img {
  margin-left: 20px;
  margin-right: 20px;
}
/* hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: worry-free!;
  height: 450px;
}
.pink {
  animation: myanimation 10s infinite;
  font-size: 20px;
  border-radius: 20px;
  height: 40px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes myanimation {
  0% {
    background-color: #f2edc2;
  }
  25% {
    background-color: #c3f2c2;
  }
  50% {
    background-color: #c2e9f2;
  }
  75% {
    background-color: #c2c3f2;
  }
  100% {
    background-color: #f2c2e2;
  }
}
.titl {
  font-size: 80px;
  width: 850px;
  margin: 20px;
}
.sub-titl {
  font-size: 20px;
}
.get {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 30px;
  height: 50px;
  width: 150px;
  color: white;
  margin-top: 20px;
  margin: 10px;
}
.get-w {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  height: 50px;
  width: 150px;
  color: rgb(0, 0, 0);
  margin-top: 20px;
  margin: 10px;
}
/* CSS for the marquee */
.card {
  background-image: url("https://images.unsplash.com/photo-1603775020644-eb8decd79994?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cG9ydHJhaXQlMjBwaG90b2dyYXBoeXxlbnwwfHwwfHx8MA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  display: inline-block;
  height: 340px;
  margin: 1rem;
  position: relative;
  width: 280px;
  color: white;
}
.card-1 {
  background-image: url("https://i.gifer.com/2kZd.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-2 {
  background-image: url("https://i.pinimg.com/736x/f8/05/57/f8055726ab19474a098852068d43c890.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-3 {
  background-image: url("https://img.freepik.com/free-photo/beauty-portrait-female-face_93675-132045.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-4 {
  background-image: url("https://c0.wallpaperflare.com/preview/192/66/526/front-view-of-man-s-face.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-5 {
  background-image: url("https://i.pinimg.com/originals/04/b4/ec/04b4ecc14d197301cbd39d48db3d93f3.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mc {
  /* mc stands for marquee container */
  overflow: hidden;
}
.mc .marquee {
  display: flex;
  top: 0;
  left: 0;
  box-sizing: content-box;
  position: relative;
  white-space: nowrap;
  will-change: transform;
  overflow-x: hidden;
}

.marquee.horizontal {
  /* To make horizontal animations */
  white-space: nowrap;
  will-change: transform;
  animation: horizontal 25s linear infinite;
}

@keyframes horizontal {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.box {
}
.sec h1 {
  font-size: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  text-align: center;
}
.sub-sec {
  display: grid;
  justify-content: space-around;
  height: 700px;
  background-color: #ffd979;
  grid-template-columns: auto;
}
.sub-sec h1 {
  font-size: 70px;
  font-family: worry-free!;
  width: 650px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 0;
  padding-top: 16px;
}
.sub-sec p {
  margin-top: 0;
  font-size: 26px;
  width: 650px;
  text-align: center;
  margin-bottom: 0;
}
.but {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-bottom: 0;
}
footer {
  height: 250px;
  background-color: white;
}
.foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  padding-top: 50px;
}
.foot-down {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  margin-top: 50px;
}
.fot-left {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 330px;
  font-weight: 200;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.fot-right {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 430px;
  font-weight: 200;
}
.foot-ico {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 150px;
}
.foot h1 {
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
}
.foot h1:hover {
  cursor: pointer;
}
.foot-down p:hover {
  cursor: pointer;
}
select {
  background-color: #f8f7f4;
  border: none;
  font-size: medium;
  font-weight: 400;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
.card-content {
  position: relative;
  padding: auto;
  margin-top: 200px;

  padding: 0%;
}
.sub-but {
  display: flex;
  width: 180px;
  justify-content: space-around;
  align-items: center;
}
.sub-but p {
  border: 1px solid rgba(255, 255, 255, 0.324);
  border-radius: 10px;
  padding: 2px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell;
}
.card-content h1,
h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell;
}
.sec {
  height: 700px;
}
